.galleria-info {
  bottom:0px;
  left:0px;
  bottom:0px;
  width:100%;
}
.galleria-info-text, .galleria-info-close { display:block; }
.galleria-info-link {
  display:none;
  top:-30px;
}
#photogallery {
  margin-bottom:20px;
  display:none;
}
.galleria-container { overflow:hidden !important; }