body {
	font-family: Times New Roman, Serif;
	color: #000;
	background: #fff;
}

a {
	color: #000;
	text-decoration: none;
}

#actions a {
	color: #1F4F82;
	text-decoration: underline;
}

#page {
        width: 100%;
        margin: 0; padding: 0;
        background: none;
}

#header {
	margin-top: 10px;
	border-top: 1px solid #BEBEBE;
	border-bottom: 1px solid #BEBEBE;
	padding: 10px 0;
}

#header #text {
	font-weight: bold;
	margin-top: 13px;
}

#header img {
	float: left;
}

#header p {
	margin: 0px;
}

h1 {
	margin-bottom: 5px;
}

.subheader {
	margin-top: 5px;
	margin-bottom: 5px;
}

.articleInfo {
	border-top: 1px solid #BEBEBE;
	border-bottom: 2px solid #BEBEBE;
	padding: 5px 0 15px 0;
	margin-bottom: 10px;
}

.articleInfo p {
	margin: 0px 0;
}

.articleInfo p a, .articleInfo span {
	font-weight: bold;
}

#imageCaption {
	font-weight: bold;
}

#imageAttr {
	display: inline;
}

#content p {
	font-size: 12pt;
}

#content p a:after, #content a:visited:after {
	content: " ["attr(href)"] ";
}