body {
	background-color: #f7f7e8;
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
}

.main-row {
	background-color: white;
}

.top-row {
	padding-top: @general-margin;
}

a,
.breadcrumbs>* a,
.side-nav li a:not(.button),
.side-nav li.active>a:first-child:not(.button) {
	color: @primary-colour;
}

.button,
button {
	background-color: @primary-colour;
}

a:hover,
a:focus,
.breadcrumbs>* a:hover,
.breadcrumbs>* a:focus,
.side-nav li a:not(.button):focus,
.side-nav li a:not(.button):hover {
	color: @primary-colour-dark;
}

.button:focus,
.button:hover,
button:focus,
button:hover {
	background-color: @primary-colour-dark;
}

.row.full-width {
	max-width: 100%;
}

.advert-area {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.main-menu {
	margin-bottom: @general-margin;
}

.main-menu, .section-bar .menu {
	background: @primary-colour;

	li a {
		color: white;
	}

	.is-drilldown-submenu-parent>a:after {
		border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(255, 255, 255, 1) !important;
	}

	.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right>a:after {
		border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(255, 255, 255, 1) !important;
	}

	.js-drilldown-back>a:before {
		border-color: rgba(0, 0, 0, 0) rgba(255, 255, 255, 1) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) !important;
	}
}

@media only screen and (min-width: @medium-min) {
	.main-menu, .section-bar .menu {
		.is-dropdown-submenu-parent>a:after, .active:hover > a:after {
			border-color: rgba(255, 255, 255, 1) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) !important;
		}

		.active>a:after {
			border-color: rgba(0, 0, 0, 1) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) !important;
		}

		li > a:hover,
		li.active > a:hover {
			background: @primary-colour-light;
			color: white;
		}

		li.active > a {
			background: white;
			color: black;
		}

		ul {
			li > a:hover,
			li.active > a:hover {
				background: #222222 !important;
			}

			li.active > a {
				background: #555555 !important;
				color: white !important;
			}

			.is-submenu-item {
				background: #333333 !important;
			}
		}
	}
}

@media only screen and (max-width: @small-max) {
	.top-bar-left {
		clear: both;
		width: 100%;
	}

	#main-menu .menu {
		li > a:hover,
		li.active > a:hover {
			background: @primary-colour-light !important;
			color: white !important;
		}

		li.active > a {
			background: white !important;
			color: black !important;
		}

		li.active > a:after {
			border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 1) rgba(0, 0, 0, 0) !important;
		}
	}

	.top-bar .top-bar-right {
		width: auto;
	}
}

.section-bar {
	background: @primary-colour;

	border-bottom: 1px solid white;

	.title-area {
		.name {
			img {
				padding-left: 1rem;
			}

			h1 {
				a {
					padding-left: 0;
					font-size: 3rem;
					padding-top: 1rem;
				}
			}
		}
	}

	.glyphicons {
		display: inline;
		vertical-align: -20%;
		font-size: 1.25rem;
		text-align: center;
	}

	.has-tip {
		border-bottom: none !important;
	}

	.icon-text-pad {
		padding-left: 0.5rem;
	}
}

.search-button {
	padding: 0;
}

.breadcrumbs {
	padding: 0;
	background: none;
	border: none;
}

.sub-nav {
	background-color: @grey-colour;
	padding: 10px 10px 10px 0;

	dt {
		color: black;
	}

	dd a {
		color: #800020;
	}
}

blockquote {
	border-left: 3px solid @dark-grey-colour;

	p {
		font-size: larger;
		margin-bottom: 0;
		font-style: italic;
		color: #444444;
	}

	cite {
		font-style:normal;
		font-family: "Lato", sans-serif;
		font-size: 1rem;
	}

	&.factoid {
		p {
			font-weight: bold;
			color: @primary-colour;
		}
	}
}

@media only screen and (min-width: @large-min) {
	blockquote {
		width: 50%;
		float: left;
		margin-right: 2rem;
		font-size: larger;
		clear: both;
		border-left: 0;
		border-right: 3px solid @dark-grey-colour;
		padding-left: 0;

	}
}

footer {
	background: #333333;
	color: #777777;
	font-size: smaller;
	padding-top: 1rem;
	padding-bottom: 1rem;

	a {
		color: #e7e7e7;
	}

	a:hover {
		color: #888888;
	}

	img {
		padding-bottom: 1rem;
	}

	.footer-links {
		display: inline-block;
		font-weight: bold;
		font-size: 0.875rem;

		vertical-align: -50%;

		li {
		}
	}

	.social {
		font-size: 1.75rem;
		vertical-align: -100%;
	}
}

@media only screen and (max-width: @small-max) {
	footer {
		.social {
			vertical-align: 0;
			padding-bottom: 1rem;
		}

		text-align: center;
	}
}

.breadcrumb-float-top .breadcrumbs {
	float: left;
	margin-top: 1rem;
}

h1.breadcrumb-after {
	clear: right;
	margin-top: 0rem;
}

.header-info-icons {
	a {
		margin-right: 1rem;
	}

	span {
		vertical-align: -5%
	}
}

h1 img.headshot {
	border-radius: 50%;
	height: 3rem;
	vertical-align: -10%;
	margin-right: 1rem;
}

.bar-text {
	font-weight: bold;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;

	a {
		color: white;
	}
}

.top-bar-title {
	float: left;
}

#main-menu {
	margin-top: 0.4rem;
}

.main-row.top-row {
	h1 {
		img {
			vertical-align: text-bottom;
		}
	}
}

@media only screen and (max-width: @small-max) {
	.main-row.top-row {
		h1 {
			img {
				vertical-align: middle;
			}
		}
	}
}