#ticker-wrapper * {
	margin: 0px;
}
#ticker-wrapper.has-js {
	width: 940px;
	height: 20px;
	display: block;
	font-family: Arial;
	font-size: 1em;
}
#ticker {
	width: 890px;
	height: 23px;
	display: block;
	float: left;
	position: relative;
	overflow: hidden;
}
#ticker-title {
	float: left; 	
	color: #990000;
	text-transform: uppercase;
	height: 20px;
	width: 40px;
}
#ticker-content {
	margin: 0px;
	float: left;
	position: absolute;
	color: #1F527B;
	font-weight: bold;
	background-color: #ffffff;
	left: 0px;
	margin-left: 20px;
}

#ticker-content:focus {
	display: none;
}

#ticker-content span {
	font-size: 12px;
}

#ticker-content A {
	text-decoration: none;	
	color: #1F527B;
}
#ticker-content A:hover {
	text-decoration: underline;	
	color: #0D3059;
}
#ticker-swipe {
	position: absolute;
	top: 0px;
	left: 80px;
	background-color: #ffffff;
	display: block;
	width: 800px;
	height: 23px; 
}
#ticker-swipe SPAN {
	margin-left: 1px;
	background-color: #ffffff;
	border-bottom: 1px solid #1F527B;
	height: 12px;
	width: 7px;
	display: block;
}
#ticker-controls {
	list-style-type: none;
	float: right;
	padding-top: 5px;
	padding-right: 5px;
}
#ticker-controls LI {
	padding: 0px;
	margin-left: 5px;
	float: left;
	cursor: pointer;
	height: 11px;
	width: 8px;
	display: block;
}
#ticker-controls LI#play-pause {
	background-image: url('../img/controls2.png');
	background-position: 16px 0px;
}
#ticker-controls LI#play-pause.over {
	background-position: 16px 10px;
}
#ticker-controls LI#play-pause.down {
	background-position: 16px 10px;
}
#ticker-controls LI#play-pause.paused {
	background-image: url('../img/controls2.png');	
	background-position: 8px 10px;
}
#ticker-controls LI#play-pause.paused.over {
	background-position: 8px 0px;
}
#ticker-controls LI#play-pause.paused.down {
	background-position: 8px 10px;
}
#ticker-controls LI#prev {
	background-image: url('../img/controls2.png');
	background-position: 0px 0px;
}
#ticker-controls LI#prev.over {
	background-position: 0px 10px;		
}
#ticker-controls LI#prev.down {
	background-position: 0px 10px;		
}
#ticker-controls LI#next {
	background-image: url('../img/controls2.png');	
	background-position: 8px 0px;
	margin-left: 3px;
}
#ticker-controls LI#next.over {
	background-position: 8px 10px;	
}
#ticker-controls LI#next.down {	
	background-position: 8px 10px;	
}
.js-hidden {
	display: none;
}