# Ignore preview folder
preview/

# Ignore api folder
api/

# Ignore mobile folder
mobile/

# Ignore archive folder
archive/

# Ignore engine folder
engine/

# Ignore sex survey
sexsurvey/

# Ignore FFS
ffs/

# Ignore old sex survey
oldsexsurvey/

# Ignore sexism survey
sexism/

# Ignore varsity liveblog
varsity/

# Ignore TEDx liveblog
tedx/

# Ignore google analytics
google*.html
