# Ignore preview folder
preview/

# Ignore api folder
api/

# Ignore mobile folder
mobile/

# Ignore archive folder
archive/

# Ignore engine folder
engine/

# Sex survey
sexsurvey/

# Live blogs
tedx/
varsity/

.settings/com.aptana.editor.php.prefs

.project

.settings/com.aptana.formatter.epl.prefs

.DS_Store

# cache files
*.cache

/vendor/
*.sql

themes/classic/css/*.css
phinx.yml
composer.phar
composer.lock
