<div class="post text-type row">
    <div class="time col-md-1 col-xs-1">
        {{ time }}
    </div>
    <div class="body col-md-11 col-xs-11">
        <img src="{{ image }}"/>
        <p>{{ content }}</p>
    </div>
</div>
