<div class="post tweet-type row">
    <div class="time col-md-1 col-xs-1">
        {{ time }}
    </div>
    <div class="body col-md-11 col-xs-11">
        {{{ tweet.html }}}
        {{#content}}
            <p>{{ content }}</p>
        {{/content}}
    </div>
</div>

