body {
	font-family: Arial, sans-serif;
	background: #ffffff;
	color: #444;
	font-size: 13px;
	padding: 0;
	width: 960px;
	margin: 0 auto;
}

h1 {
	font-family: times, serif;
	font-size: 50px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#info p {
	font-size: 15px;
	line-height: 20px;
}

#loginForm {
	margin-top: 15px;
}

#loginForm p{
	margin: 0;
	margin-bottom: 5px;
	font-size: 15px;
}

#loginForm label {
	font-weight: bold;
}

#loginForm #submitButton {
	width: 80px;
	height: 25px;
}

h2 {
	font-family: times, serif;
	font-size: 25px;
	border-bottom: 2px solid #BEBEBE;
	margin-bottom: 10px;
	margin-top: 20px;
}

h3 {
	margin-bottom: 5px;
	font-size: 15px; 
	font-weight: normal; 
}

#textarea {
	width: 400px;
	height: 130px;
}

#submitButton {
	width: 100px;
	height: 30px;
	border: 1px solid #DBD8D3;
	color: #222;
	font-weight: bold;
	font-size: 15px;
}

#submitButton:hover {
	background-color:#e0e0e0;
	color:#555555;
}

#submitButton:active {
	background-color:#919191;
    color:#fff;
}

#thankyou {
	margin-top: 10px;
	padding-top: 10px;
}

#thankyou img {
	margin-left: 380px;
}

#thankyou p {
	font-size: 16px;
}