<?php
	/*
	 * Create a config.inc.php with the information below to run on a local dev machine
	 */

	/*
	 * Change these urls to your local versions, e.g http://localhost/felix
	 */
	define('STANDARD_URL','http://felixonline.local/');
	define('ADMIN_URL','http://localhost/felix/admin/');
	define('AUTHENTICATION_SERVER','localhost'); // authentication server
	define('AUTHENTICATION_PATH','http://localhost/felix/'); // authentication path
	define('RELATIVE_PATH','/felix'); // relative path from root

	define('PRODUCTION_FLAG', false); // if set to true css and js will be minified etc..
	define('LOCAL', true); // if true then site is hosted locally - don't use pam_auth etc.

	$config = array(
		'db_name' => "DB_TABLE",
		'db_host' => "localhost",
		'db_user' => "DB_USER",
		'db_pass' => "DB_PASSWORD",
		'db_port' => 3306,
		'base_url' => STANDARD_URL,
		'sentry_dsn' => NULL,
		'akismet_api_key' => '',
	);

	/* turn off error reporting */
	//error_reporting(0);
	/* to turn on error reporting uncomment line: */
	error_reporting(E_ERROR | E_WARNING | E_PARSE);

	return $config;
