<div class="post video {{#breaking}} breaking{{/breaking}}" data-post-id="{{{id}}}">
    <div class="row">
        <div class="time small-2 medium-1 columns">
            <div class="time">{{time}}</div>
            <div id="videoicon"></div>
        </div>
        <div class="content small-10 medium-11 columns">
            <h5>{{#breaking}}<span class="label radius danger">BREAKING</span>&nbsp;{{/breaking}}{{{title}}}</h5>
        </div>
    </div>
    <div class="row">
        <div class="videocont small-10 medium-11 columns small-offset-2 medium-offset-1">
            {{#vimeo}}
                <iframe src="//player.vimeo.com/video/{{{data.data.remote_id}}}?title=0&amp;byline=0" frameborder="0"></iframe>
            {{/vimeo}}
            {{#youtube}}
                <iframe src="//www.youtube.com/embed/{{{data.data.remote_id}}}?rel=0" frameborder="0" allowfullscreen></iframe>
            {{/youtube}}
        </div>
    </div>
</div>
